{% extends 'layout.html' %}
{% block content %}
{% load static %}
<main class="container">
    <div class="row">
        <section class="">
            <h1 class="display-1 text-center mt-5">My Introduction</h1>
            <p>My name is Ricardo Fuentes I am staying at Santiago Chile, I was teacher of Math, Chemistry and Physics. But several years ago, i decided to start learning Python specially Manim Library because it takes my atention for make interesting depictures about Math mainly, nonetheless I can not undertand mostly about Manim, By sush reason I learned Javascript language for my practice. It was very difficult for me undertand and take programming skill, but I believe undestand many of the elements wearing in programming activities</p>
        </section>
    </div>
</main>
<!-- <div class="container">
    <style>
        #cardReactVideo:hover{
            box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.616);
            transform: scale(1.05);
            transition: transform .3s ease-out, box-shadow .3s ease-out;
        }
    </style>
    <div id="cardReactVideo" class="card rounded p-2" style="max-width: 18rem; margin-top: 100px;">
        <video src="{% static 'portfolio/videos/ReactScene.mp4' %}" autoplay muted loop></video>
        <div class="card-body">
          <p class="card-text">
            React Was a wonderful library to learn, it was easier understand, I was understanding in first place Javascript and it was funny learning it.
          </p>
        </div>
    </div>
</div> -->
{% endblock %}