{% extends 'layout.html' %}
{% block content %}
{% load static %}
<main class="row mt-5 p-5" style="opacity: .8;">
    {{error}}
    <div class="col-md-4 offset-md-4">
        <div class="container">
            <form class="card card-body" action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <h1 class="display-1 text-center">Signup</h1>
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1">Your password</label>
                    <input type="password" name="password1" id="password1" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2">Repeat you password</label>
                    <input type="password" name="password2" id="password2" class="form-control">
                </div>
                <button class="btn btn-info mt-3">Send</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}